@import "tailwindcss";

@theme {
  --color-primary: #111827;
  --color-brand-red: #ef4444;
  --color-brand-yellow: #f59e0b;
  --font-sans: "Inter", system-ui, sans-serif;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    @apply font-sans;
  }
}
